<div class="container-fluid">
  <div class="row flex-items-xs-center flex-items-xs-middle">
    <h5>Now Playing:</h5>
    <img src={{model.pictures.sizes.0.link}} class="circular">
  </div>
</div>
{{yield}}
