<div class="col-xs">
  <div class="card">
    <img class="card-img-top" src="{{category.pictures.sizes.2.link}}" alt="{{category.name}}">
    <div class="card-block">
      {{category.name}}
    </div>
  </div>
</div>
