& {
  margin-bottom: 4rem;
  font-size: 0.8rem;

  .btn-group {
    button {
      &:hover {
        opacity: 0.90;
      }
    }
    .btn-category {
      border-right: 1px dotted #333;
    }
    .btn-remove {
      border-left: 1px dotted #333;
      border-radius: 0 0.2rem 0.2rem 0 !important;
    }
    .dropdown-menu > button {
      cursor: pointer;
    }
  }
  .navbar-brand {
    font-family: "Arima Madurai", cursive;
  }
  .delete-gap {
    margin-left: 0.3rem;
  }
}
