<nav class="navbar navbar-full navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Vime(auto)</a>
  <span class="navbar-text float-xs-right text-muted">
    You haven't added any categories yet!
  </span>
</nav>
