<div class="bg-inverse container-fluid text-white">
  <div class="row flex-items-xs-center flex-items-xs-middle">
    <div class="col-xs-10 text-sm-center">
      Vime(auto) is not endorsed, certified, or otherwise approved in any way by Vimeo or any of its affiliates. It's just a fun project.<br>
      <small class="text-muted">Made with crazy {{fa-icon "heart" class="text-danger"}} by Robby "Ribbeth" Mitchell</small>
    </div>
  </div>
</div>
