<div class="bg-inverse container-fluid text-white">
  <div class="row flex-items-xs-center flex-items-xs-middle">
    <div class="col-xs">
      Vime(auto) is not endorsed, certified, or otherwise approved in any way by Vimeo or any of its affiliates. It's just a fun project.
    </div>
  </div>
</div>
