& {
  margin-bottom: 1rem;
  background: rgb(0,0,0);
  box-shadow: 0 1px 3px #ddd;

  .carousel-item {
    height: 25rem;
    background-repeat: no-repeat;
    background-position: right;

    > img {
      bottom: 0;
      transition: bottom 7s ease-out;
    }

    &.active {
      > img {
        position: relative;
        bottom: 2rem;
      }
    }
  }

  .carousel-caption {
    top: 0;
    left: 10%;
    height: 10rem;
    margin-top: 2rem;

    .btn-watch {
      margin-top: 1.5rem;
    }
  }
}
