{{navigation-bar}}

<div class="container-fluid">
  <div class="row flex-items-xs-center">
    {{#each model as |category|}}
      {{category-card category=category}}
    {{/each}}
  </div>
</div>

{{outlet}}
