{{trending-carousel trendings=model.trendings}}

<div class="container-fluid vimeauto-description">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs">
          <h2>A quick Vime(auto) how-to</h2>
          <p>It's easy! Simply pick up to 5 categories below that interest you. After
             selecting at least one category, you will be able to access videos from the
             category label at the top right of the screen. After selecting at least two
             categories, you will then be able to "Vime(auto)" a playlist which includes a
             random selection of videos from all of the categories you have in your
             category queue. See, easy!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row flex-items-xs-center">
    {{#each model.categories as |category|}}
      {{category-card category=category}}
    {{/each}}
  </div>
</div>
{{outlet}}

{{vimeauto-footer}}
